<%- include('../partials/header') %>


<div class="container mt-5">
    <div class="card p-4">
        <h1 class="text-center">Edit Item</h1>
        <form action="/items/<%= item.id %>" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <div class="mb-3">
                <label class="form-label">Title</label>
                <input type="text" name="title" class="form-control" value="<%= item.title %>" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Author</label>
                <input type="text" name="author" class="form-control" value="<%= item.author %>" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Genre</label>
                <input type="text" name="genre" class="form-control" value="<%= item.genre %>" required>
            </div>
            <% if (item.itemType === 'Book') { %>
                <div class="mb-3">
                    <label class="form-label">ISBN</label>
                    <input type="text" name="isbn" class="form-control" value="<%= item.isbn %>">
                </div>
            <% } else { %>
                <div class="mb-3">
                    <label class="form-label">Issue Number</label>
                    <input type="number" name="issueNumber" class="form-control" value="<%= item.issueNumber %>">
                </div>
            <% } %>
            <button type="submit" class="btn btn-warning w-100">Update Item</button>
        </form>
    </div>
</div>
<%- include('../partials/footer') %>